*{
    margin: 0; padding:0; box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.site-header {
    width: 100%;
    height: 100vh;
    background: #0f8a9d;
    padding-top: 10px;
    padding-left: 10px;
    background: linear-gradient(57deg,#C39BD3   , #4A235A ); 
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

}

nav{
    width: 100%; height: 100px;
    /*background-color:  red;*/
    display: flex; color: white;
    
}

label{

	font-size: 45px;
}

.logo{
	
    width: 80%;
    height: 100px;
    color: white;
}

.buttondiv{ color: white;padding:20px;}

.button{   
	font-size: 12px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #4A235A  , #C39BD3  ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}

.button:hover{
      background: linear-gradient(57deg, #C39BD3 ,#4A235A );   
}

section{ display: flex;  }

.leftside { width: 45%; height: auto; overflow: hidden; margin-top: 20px;text-align: center;}
.leftside img{  width: 300px;  height: 300px;margin-left:50px;}
.rightside{ width: 55%; height: 300px; color: white; text-align: center;  padding: 40px;}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #8400ff;
}